@font-face {
  font-family: Orkney;
  src: url('~assets/orkney_r.woff2') format('woff2');
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
	color: #353A41;
  font-size: 13px;
  font-family: Orkney, Helvetica, sans-serif;
	line-height: 19px;

}

textarea:focus, input:focus {
  outline: none;
}

.view {
	width: 375px;
	height: 388px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

