:root {
  --foreground-color: #353a41;
  --background-color: white;
  --weak-pass-color: #fd6d30;
  --medium-pass-color: #fbc812;
  --good-pass-color: #7c6ffc;
  --strong-pass-color: #5ac897;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

textarea:focus,
input:focus {
  outline: none;
}

body {
  margin: 0;
  min-width: 375px;
  min-height: 388px;
  overflow: hidden;
  color: var(--foreground-color);
  font-size: 13px;
  font-family: Orkney, Helvetica, sans-serif;
  line-height: 19px;

  /* TODO: use mixins and @include viewable */
  .view {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    *:not(.fancy-circles) {
      z-index: 2;
    }
  }

  @font-face {
    font-family: Orkney;
    src: url('~assets/orkney_r.woff2') format('woff2');
  }

  @font-face {
    font-family: Orkney;
    src: url('~assets/orkney_m.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: Orkney;
    src: url('~assets/orkney_b.woff2') format('woff2');
    font-weight: 800;
    font-style: bold;
  }
}
