:root {
  --foreground-color: #353A41;
  --background-color: #FFFFFF;
  --weak-pass-color: #FD6D30;
  --medium-pass-color: #FBC812;
  --good-pass-color: #7C6FFC;
  --strong-pass-color: #5AC897;
}

*, *:before, *:after {
  box-sizing: border-box;
}

textarea:focus, input:focus {
  outline: none;
}

body {
  margin: 0;
	color: var(--foreground-color);
	min-width: 375px;
	min-height: 388px;
  font-size: 13px;
  font-family: Orkney, Helvetica, sans-serif;
	line-height: 19px;

  .view {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    *:not(.fancy-circles) {
      z-index: 2;
    }
  }

  @font-face {
    font-family: Orkney;
    src: url('~assets/orkney_r.woff2') format('woff2');
  }

  @font-face {
    font-family: Orkney;
    src: url('~assets/orkney_m.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }
}
