{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "plugin:react/recommended",
    "eslint:recommended"
  ],
  "env": {
    "webextensions": true
  },
  "globals": {
    "Promise": true
  }
}
