.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    width: 235px;
  }

  .caption {
    font-size: 14px;
    font-weight: 600;
    font-family: Orkney;
    text-align: center;
    margin-top: -2px;
    margin-bottom: 30px;
  }
}

.header--small {
  flex-direction: row;
  justify-content: space-between;
  margin-top: 7px;
  margin-bottom: 7px;

  .logo {
    width: 20px;
  }

  .caption {
    display: none;
  }

  .content {
    flex-grow: 1;
    text-align: center;
  }
}
