.password-field {
  position: relative;
  width: 100%;

  .preview {
    position: absolute;
    top: 9px;
    right: 9px;
    height: 28px;
    width: 35px;
    padding-top: 8px;
    cursor: pointer;

    &.preview--visible {
      top: 5px;

      &::after {
        content: url('~assets/eye_opened.svg');
      }
    }

    &.preview--hidden::after {
      content: url('~assets/eye_closed.svg');
    }
  }
}
