.change-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .password-field {
    margin-bottom: 10px;
  }

  .input-field--invalid {
    margin-bottom: 2.6px;
  }

  .btn {
    width: 50%;
  }
}
