.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 7px;

  .logo {
    width: 29px;
  }

  .account-balance {
    text-align: center;
  }
}
