.btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 161px;
  height: 40px;
  border: 0;
  cursor: pointer;
	color: var(--std-button-fg);
  background-color: var(--std-button-color);
  border-radius: 20px;
	font-weight: bold;
  font-size: 13px;
	line-height: 20px;
  transition: all 0.5s;
  box-shadow: -2px 9px 30px 0px var(--std-button-shadow-color);

  &:hover {
    background-color: var(--std-button-darker-color);

    .icon {
      transition: all 0.7s;
      background-color: white;

      &.icon--human {
        background-image: url('~assets/human--alt.svg');
      }

      &.icon--tick {
        background-image: url('~assets/tick--alt.svg');
      }
    }
  }

  .caption {
    flex-basis: 120px;
  }

  .icon {
    min-width: 30px;
    min-height: 30px;
    background-color: var(--std-button-darker-color);
    border-radius: 29px;
    background-repeat: no-repeat;
    background-position: center;

    &.icon--human {
      background-image: url('~assets/human.svg');
    }

    &.icon--tick {
      background-image: url('~assets/tick.svg');
    }
  }
}

.btn:disabled,
.btn[disabled] {
  pointer-events: none;
  opacity: 0.5;
}
