.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    width: 235px;
  }

  .caption {
	  font-size: 14px;
	  font-weight: 600;
	  font-family: Orkney;
	  text-align: center;
    line-height: 39px;
	  letter-spacing: 0.29px;
    margin-top: -2px;
    margin-bottom: 30px;
  }
}
